body {
    margin: 0;
    padding: 0;
}
table {
    margin: auto;
    margin-top: 20px;
    border: solid 2px #3D3C3A;
}
td {
    width: 20px;
    height: 20px;
}
div {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

#home_page {
    display: block;
}
#one_player_settings_page {
    display: none;
}
#two_player_settings_page {
    display: none;
}
#game_page {
    display: none;
}
#game_over {
    display: none;
}
#title {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    text-align: center;
}
#score {
    width: 100%;
    height: 40px;
    text-align: center;
}
#fruit {
    background-color: red;
    width: 100%;
    height: 100%;
}
#mainTable {
    border-spacing: 0px;
}

.snakeBody1 {
    background-color: blue;
    width: 100%;
    height: 100%;
}

.snakeBody2 {
    background-color: green;
    width: 100%;
    height: 100%;
}
